@import "./additional-styles/utility-patterns.css";
@import "./additional-styles/range-slider.css";
@import "./additional-styles/toggle-switch.css";
@import "./additional-styles/theme.css";

@tailwind base;
@tailwind components;

@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-navbar-background-color: rgb(17, 24, 39);
  --ifm-background-color: rgb(17, 24, 39) !important;
  --ifm-footer-background-color: rgb(17, 24, 39);
  --ifm-hero-background-color: rgb(17, 24, 39);

  --ifm-font-family-base: -apple-system, Inter, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", "Ubuntu", sans-serif, Microsoft YaHei !important;

  --ifm-font-size-base: 16px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #3b82f6;
  --ifm-color-primary-dark: #2372f5;
  --ifm-color-primary-darker: #0b63f3;
  --ifm-color-primary-darkest: #0a59da;
  --ifm-color-primary-light: #5392f7;
  --ifm-color-primary-lighter: #6ca1f8;
  --ifm-color-primary-lightest: #84b1f9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-navbar-background-color: rgb(17, 24, 39);
  --ifm-background-color: rgb(17, 24, 39) !important;
  --ifm-footer-background-color: rgb(17, 24, 39);
  --ifm-hero-background-color: rgb(17, 24, 39);
}

.navbar {
  border-bottom: 1px solid var(--ifm-color-gray-800);
}

.footer {
  border-top: 1px solid var(--ifm-color-gray-800);
}

a:hover {
  text-decoration: none;
}

em {
  background-color: yellow;
  font-style: normal;
  color: black;
}
